#header {
    background-color: burlywood;
    height: 200px;
    width: auto;
    text-align: center;
}

#body {
    background-color: cornsilk;
    height: 500px;
    width: auto;
    text-align: center;
}

#footer {
    /* background-color: burlywood; */
    height: 200px;
    width: auto;
    text-align: center;
}

.poly {
    color: blue;
    font-weight: bolder;
    font-size: large;
}

.imgMeo {
    width: 20%;
    height: 300px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: darkmagenta, 10px, darkmagenta;
}